*{
   
    font-family: 'Times New Roman', Times, serif;
    
}


img{
    border-radius: 70%;
    border: 5px solid white;
    height:165px;
    margin-top: 50px;
    margin-left: 30px;
    margin-block-end: 25px;
    box-shadow: 0 0 10px #f3e4f3;
}

h2{
    border: 1px solid rgb(247, 243, 243);
    border-radius: 10px;
    padding: 2%;
    margin: 20px 0 10px;
    margin-top: 5%;
    margin-bottom:5%;
    box-shadow: 0 0 10px #394eaf;
}

.left-section {
    background-color: #113f5e;
    color: white;
    padding: 20px;
    width: 25%;
    text-align: center;
    border-right: 5px solid #e3e3e4;
    }
    
.Right-section { 
    padding: 20px;
    width: 50%; 
    }

.Resume-container {
        display: flex;        
        background-color: white;
        width: 80%;  
        margin: 0 auto;       
        border-radius: 10px;  
        box-shadow: 0 0 10px rgba(255, 221, 221, 0.1);     
 }

 h3{
    border:2px solid black;
    box-shadow: 0 0 10px #f3e4f3;
    border-radius: 10px;
    font-size: 18px;
 }

 button{
   
    cursor: pointer;
    box-shadow: 0 0 10px #f3e4f3;
    margin-top: 10px;
    font-size: 18px;
 }

 
 button:hover {
    background-color: #96b5d3;
 }